server {
    listen       <%= ENV['PROXY_PORT'] %>;
    listen  [::]:<%= ENV['PROXY_PORT'] %>;
    server_name _;

    location = / {
        return 302 http://127.0.0.1:<%= ENV['PROXY_PORT'] %>/web;
    }

    location /web {
        proxy_pass http://127.0.0.1:<%= ENV['WEB_PORT'] %>;
    }

    location / {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-Host $http_host;
        proxy_pass http://127.0.0.1:<%= ENV['PORT'] %>;
    }
}

server {
    listen       <%= ENV['TEST_PROXY_PORT'] %>;
    listen  [::]:<%= ENV['TEST_PROXY_PORT'] %>;
    server_name _;

    access_log /var/log/nginx/test.access.log;

    location = / {
        return 302 http://127.0.0.1:<%= ENV['TEST_PROXY_PORT'] %>/web;
    }

    location /web {
        proxy_pass http://127.0.0.1:<%= ENV['TEST_WEB_PORT'] %>;
    }

    location / {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-Host $http_host;
        proxy_pass http://127.0.0.1:<%= ENV['TEST_PORT'] %>;
    }
}
