<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Language</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  <%= stylesheet_link_tag 'admin/application' %>
  <%= javascript_include_tag 'admin/vendor' %>
  <%= csrf_meta_tag %>
</head>
<body class="d-flex flex-column h-100 bg-secondary">

<div class="d-flex justify-content-center p-4">
    <h3 class="me-3">Edit language - <%= params[:language] %></h3>
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#save-confirm-modal">
      Save
    </button>
</div>

<div class="flex-grow-1 mb-4 px-2">
  <textarea class="bg-dark h-100 w-100 border-0 flex-grow-1 text-white" id="language_csv"><%= @language %>&#10;</textarea>
</div>

<div id="save-confirm-modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit language - <%= params[:language] %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure to overwrite all the translation for language <%= params[:language] %>?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-warning" data-action="save">
          <div class="spinner-border d-none" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>

</body>

<script type="module">
    import app from '<%= javascript_path 'admin_app' %>';

    app.run();

    app.actions.add('save', ({ target }) => {
        app.actions.lockButton(target);
        const data = new FormData();
        data.set('csv', app.find('#language_csv')?.value);
        Rails.ajax({
            type: 'POST',
            url: '<%= admin_translations_update_language_path(params[:language]) %>',
            data,
            success () {
                window.location.reload();
            }
        });
    });
</script>
</html>